<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luoyang.dao.CameraDAO">

    <!--save添加摄像头信息-->
    <insert id="save" parameterType="Camera">
        insert into t_camera values (#{ip},#{address},#{name},#{img_path})
    </insert>
    <!--delete删除摄像头信息-->
    <delete id="delete" parameterType="String">
        delete from t_camera where ip=#{ip}
    </delete>
    <!--修改摄像头信息-->
    <update id="update" parameterType="Camera">
        update t_camera
        set ip=#{ip},address=#{address},name=#{name},img_path=#{img_path}
        where ip=#{ip}
    </update>
    <!--列出所有摄像头信息-->
    <select id="findAll" resultType="Camera">
        select ip,address,name,img_path from t_camera
    </select>
    <!--分页查找-->
    <select id="findByPage" resultType="Camera">
        select ip,address,name,img_path
        from t_camera
        limit #{start},#{rows}
    </select>
    <!--查找总的记录数量-->
    <select id="findTotal" resultType="Integer">
        select count(ip) from t_camera
    </select>

</mapper>